*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  color:white;
  font-family:Arial, sans-serif;
}

.container{
  text-align:center;
}

.error-code{
  font-size:7rem;
  margin-bottom:10px;
}

h2{
  margin-bottom:15px;
}

p{
  margin-bottom:20px;
}

.home-btn{
  text-decoration:none;
  padding:12px 24px;
  background:#2563eb;
  color:white;
  border-radius:8px;
}